<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Timba de Pepe - En Partida</title>
</head>

<body class="d-flex flex-column h-100 bg-dark text-white">
    <header th:replace="~{fragments/nav.html :: nav}"></header>
    <main class="mt-3 m-auto" style="width: 90%;">
        <div class="mt-3 py-2 bg-black rounded-3 d-flex align-items-center justify-content-around" id="title-display">
            <p class="m-0 badge bg-secondary fs-5">ESPERANDO</p>
            <h1 class=" text-center" th:text="${estado.nombreTablero}">Nombre del Tablero</h1>
            <p class="m-0 badge bg-primary fs-5">? / 4</p>
        </div>

        <div class="general mt-4 d-flex gap-4">
            <div class="tablero" id="tablero">
                <div class="jugador-hueco" id="slot-0">
                    <div class="jugador-nombre empty">
                        🃏 Jugador 1 <span class="badge bg-secondary">Esperando...</span>
                    </div>
                    <div class="zona-cartas" id="cards-1"></div>
                    <div class="jugador-puntuacion d-flex gap-3">
                        <p class="fw-bold">Puntos: <strong>-</strong> </p>
                        <p class="fw-bold">Apuesta: <strong>-</strong>
                            <svg style="transform: translate(-3px, -3px); filter:invert(1); width: 1.2em;"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path
                                d="M471.9 324.8L320 417.6L168 324.8L320 64L471.9 324.8zM320 447.4L168 354.6L320 576L472 354.6L320 447.4z" />
                            </svg> 
                        </p>
                    </div>
                </div>
                <div class="jugador-hueco empty" id="slot-1">
                    <div class="jugador-nombre">
                        🃏 Jugador 2 <span class="badge bg-secondary">Esperando...</span>
                    </div>
                    <div class="zona-cartas" id="cards-2"></div>
                    <div class="jugador-puntuacion d-flex gap-3">
                        <p class="fw-bold">Puntos: <strong>-</strong> </p>
                        <p class="fw-bold">Apuesta: <strong>-</strong>
                            <svg style="transform: translate(-3px, -3px); filter:invert(1); width: 1.2em;"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path
                                d="M471.9 324.8L320 417.6L168 324.8L320 64L471.9 324.8zM320 447.4L168 354.6L320 576L472 354.6L320 447.4z" />
                            </svg> 
                        </p>
                    </div>
                </div>
                <div class="jugador-hueco empty" id="slot-2">
                    <div class="jugador-nombre">
                        🃏 Jugador 3 <span class="badge bg-secondary">Esperando...</span>
                    </div>
                    <div class="zona-cartas" id="cards-3"></div>
                    <div class="jugador-puntuacion d-flex gap-3">
                        <p class="fw-bold">Puntos: <strong>-</strong> </p>
                        <p class="fw-bold">Apuesta: <strong>-</strong>
                            <svg style="transform: translate(-3px, -3px); filter:invert(1); width: 1.2em;"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path
                                d="M471.9 324.8L320 417.6L168 324.8L320 64L471.9 324.8zM320 447.4L168 354.6L320 576L472 354.6L320 447.4z" />
                            </svg> 
                        </p>
                    </div>
                </div>
                <div class="jugador-hueco empty" id="slot-3">
                    <div class="jugador-nombre">
                        🃏 Jugador 4 <span class="badge bg-secondary">Esperando...</span>
                    </div>
                    <div class="zona-cartas" id="cards-4"></div>
                    <div class="jugador-puntuacion d-flex gap-3">
                        <p class="fw-bold">Puntos: <strong>-</strong> </p>
                        <p class="fw-bold">Apuesta: <strong>-</strong>
                            <svg style="transform: translate(-3px, -3px); filter:invert(1); width: 1.2em;"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path
                                d="M471.9 324.8L320 417.6L168 324.8L320 64L471.9 324.8zM320 447.4L168 354.6L320 576L472 354.6L320 447.4z" />
                            </svg> 
                        </p>
                    </div>
                </div>
            </div>

            <div class="juego-opt">
                <h3 class="mb-3 text-center">Opciones</h3>
                <div class="estado-juego mt-3 mx-auto alert" id="mensaje"></div>

                <div class="cartera mb-3">
                    <div class="cartera-item">
                        <span class="cartera-value fichas-value" id="fichas" th:text="${session.u.fichas}">0</span>
                        <svg style="filter:invert(1); width: 1.2em;"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path
                                d="M471.9 324.8L320 417.6L168 324.8L320 64L471.9 324.8zM320 447.4L168 354.6L320 576L472 354.6L320 447.4z" />
                        </svg> 
                    </div>
                    <span class="pe-1 badge bg-warning text-dark fs-6">Apuesta actual: <strong class="apuesta">0</strong>
                        <svg style="transform: translateX(-3px) translateY(-2px); width: 1.2em;"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path d="M471.9 324.8L320 417.6L168 324.8L320 64L471.9 324.8zM320 447.4L168 354.6L320 576L472 354.6L320 447.4z" />
                        </svg> 
                    </span>
                    <div class="cartera-item">
                        <span class="cartera-value cervezas-value" id="cervezas" th:text="${session.u.cervezas_actuales}">0</span>
                        <svg style="filter: invert(1); width: 1.2em;"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path
                                d="M96 144C96 117.5 117.5 96 144 96L432 96C458.5 96 480 117.5 480 144L480 160L544 160C579.3 160 608 188.7 608 224L608 332.2C608 356.4 594.3 378.6 572.6 389.4L480 435.8L480 448C480 501 437 544 384 544L192 544C139 544 96 501 96 448L96 144zM480 364.2L544 332.2L544 224L480 224L480 364.2zM224 216C224 202.7 213.3 192 200 192C186.7 192 176 202.7 176 216L176 424C176 437.3 186.7 448 200 448C213.3 448 224 437.3 224 424L224 216zM312 216C312 202.7 301.3 192 288 192C274.7 192 264 202.7 264 216L264 424C264 437.3 274.7 448 288 448C301.3 448 312 437.3 312 424L312 216zM400 216C400 202.7 389.3 192 376 192C362.7 192 352 202.7 352 216L352 424C352 437.3 362.7 448 376 448C389.3 448 400 437.3 400 424L400 216z" />
                        </svg>
                    </div>
                </div>
                
                <div class="mt-4 d-flex flex-column justify-content-center gap-2" id="gameActions">
                    <button class="btn btn-warning px-4 fw-bold" id="btnPedir">
                        🂠 Pedir Carta
                    </button>
                    <button class="btn btn-danger px-4 fw-bold" id="btnPlantarse">
                        ✋ Plantarse
                    </button>
                    <button class="btn btn-info px-4 fw-bold" id="btnApostar">
                        💰 Apostar
                    </button>
                </div>
        
                <hr>
                
                <h4 class="text-center">Eventos de Cervezas</h5>
                <div class="d-flex flex-wrap gap-2 justify-content-center">
                    <button class="btn btn-outline-info btn-sm" id="btnSonido">🍺 Poner Sonido (5 cervezas)</button>
                    <button class="btn btn-outline-info btn-sm" id="btnSonido">🍺 Poner Sonido (5 cervezas)</button>
                    <button class="btn btn-outline-info btn-sm" id="btnSonido">🍺 Poner Sonido (5 cervezas)</button>
                </div>
                <div class="panel-apuesta" id="panelApuesta">
                    <div>
                        <h4 class="text-center text-warning mb-3">¿Cuánto quieres apostar?</h4>
                        <div class="d-flex gap-2 justify-content-center mb-3">
                            <button class="btn btn-outline-warning btn-sm quick-btn" id = "btnApuesta5" onclick="ajustarApuesta(5)">+5</button>  <!-- tiene id para el jugador.feature -->
                            <button class="btn btn-outline-warning btn-sm quick-btn" onclick="ajustarApuesta(10)">+10</button>
                            <button class="btn btn-outline-warning btn-sm quick-btn" id = "btnApuesta25" onclick="ajustarApuesta(25)">+25</button> <!-- tiene id para el jugador.feature -->
                            <button class="btn btn-outline-warning btn-sm quick-btn" onclick="ajustarApuesta(50)">+50</button>
                        </div>
                        <div class="d-flex gap-2 justify-content-center align-items-center mb-3">
                            <button class="btn btn-outline-light btn-sm" onclick="ajustarApuesta(-5)">−5</button>
                            <input type="number" class="form-control" id="cantApuesta" value="10" min="1" max="1000"
                                style="width:120px;">
                            <button class="btn btn-outline-light btn-sm" onclick="ajustarApuesta(5)">+5</button>
                        </div>
                        <div class="d-flex gap-2 justify-content-center">
                            <button class="btn btn-warning px-4" id="btnConfirmApuesta">Confirmar Apuesta</button>
                            <button class="btn btn-outline-secondary" id="btnCancelApuesta">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3 mb-4 d-flex justify-content-center">
            <button id="salir" class="px-3 py-1 fs-5 fw-bold btn btn-danger border-2 border-white">Salir de la Sala</button>
        </div>

    </main>
    <!-- Webshocket -->
    <script th:inline="javascript">
        window.config = window.config || {};
        config.socketUrl = /*[[@{/ws}]]*/ '/ws';
        // AQUÍ SEPARAMOS LAS SALAS USANDO EL ID DEL JUEGO:
        config.topics = 'juego/[[${estado.idTablero}]]'; 
    </script>

    <th:block th:replace="~{fragments/chat :: chat-sala}"/>
    <th:block th:replace="~{fragments/chat :: chat-global}"/>
    <th:block th:replace="~{fragments/footer.html :: footer}" />

    <script th:src="@{/js/juego.js}" src="/js/juego.js"></script>
</body>

</html>